[submodule "codesignal"]
	path = codesignal
	url = git@github.com:ofou/codesignal.git
	branch=main
[submodule "leetcode"]
	path = leetcode
	url = git@github.com:ofou/leetcode.git
	branch=main
[submodule "exercism"]
	path = exercism
	url = git@github.com:ofou/exercism.git
	branch=main
[submodule "hackerrank"]
	path = hackerrank
	url = git@github.com:ofou/hackerrank.git
	branch=main
